html, body { font-size: 100%; }
body {
	background: #333333;
	color: #eeeeee;
	font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 { text-align: center;}

table {
	margin: 0 auto;
	border-collapse: collapse;
}

tr:nth-child(even) {
	background: #444444;
}

td, th {
	text-align: left;
	padding: 0.25em 0.45em;
}
/* Icons */
td:first-child { text-align: center; }

.icon {
	max-width: 2em;
	max-height: 2em;
}
