<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<title>Wrong Secret | GoosePlus</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		<h1>GoosePlus</h1>
		<h2>Wrong Secret</h2>
		<p>That secret was incorrect. This instance of GoosePlus requires that you enter a secret to use it.</p>
		<p>Do it by setting the <code>secret</code> GET parameter.</p>
		
		<footer>
			<p>Powered by <a href="https://github.com/sbrl/GoosePlus.git"><img src="./favicon-512.png" class="icon" alt="GoosePlus logo of a white goose facing right" aria-hidden="true" /> GoosePlus</a>, which was written by with ❤️ by <a href="https://starbeamrainbowlabs.com/">Starbeamrainbowlabs</a></p>
		</footer>
		
		
		<!---------------->
		<link rel="stylesheet" href="theme.css" />
	</body>
</html>
