<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<title>Registered Search Engines | {{name}}</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<link rel="icon" href="./favicon.png" type="image/png" sizes="16x16" />
		<link rel="icon" href="./favicon-512.png" type="image/png" sizes="512x512" />
		
		<link rel="search" type="application/opensearchdescription+xml" title="{{description}}" href="?action=opensearch" />
	</head>
	<body>
		<h1>{{name}}</h1>
		<form action="" method="get">
			<input type="hidden" name="action" value="redirect" />
			<input type="search" name="query" placeholder="Enter a query here and press enter" autofocus />
		</form>
		
		<h2>Registered Search Engines</h2>
		<table>
			<tr>
				<th>Icon</th>
				<th>!bang</th>
				<th>Name</th>
				<th>URL</th>
			</tr>
			
			{#each search_engines}
			<tr>
				<td><img class="icon" src='{{icon_url}}' /></td>
				<td>!{{bang}}</td>
				<td>{{name}}</td>
				<td><code>{{url_template}}</code></td>
			</tr>
			{#endeach}
		</table>
		
		<footer>
			<p>Powered by <a href="https://github.com/sbrl/GoosePlus.git"><img src="./favicon-512.png" class="icon" alt="GoosePlus logo of a white goose facing right" aria-hidden="true" /> GoosePlus</a>, which was written by with ❤️ by <a href="https://starbeamrainbowlabs.com/">Starbeamrainbowlabs</a></p>
		</footer>
		
		<!---------------->
		<link rel="stylesheet" href="theme.css" />
	</body>
</html>
